html,body{
background-image:url('img/map-background.jpg');
height:100%;
margin-top: 0px;
margin-left: 0px;
display: block;
}

a{
text-decoration:none;
}

p{
margin-bottom:10px;
}

.clear{
clear:both;
}

#main-container{
position: relative;
float:left;
width: 70%;
margin: -10px auto 0 auto;
background-color:white;
box-shadow: 0 0 10px 7px darkgrey;
padding-top: 65px;
}

#footer{
position: fixed;
width: 100%;
bottom: 0px;
left: 0px;
z-index:5;
background-image:url('img/footer-background.jpg');

color: white;
font-size: 20px;
padding-top: 5px;
text-align: center;
}

.panel{
width: 100%;
}

#leftPanel{
position: relative;
width: 15%;
height: 100%;
float: left;
}

#rightPanel{
position: relative;
width: 15%;
height: 100%;
float:left;
}

.panelMap{
width:100%; 
height: 500px;
margin:0px auto 0px auto;
background-color: #ace000;
}

.panelFlashCard{
width:100%;
background-color: #8B5A00;
float:left;
margin: 0px auto 30px auto;
overflow:hidden;
}

/*.panelFlashCardPrev{
width:7%; 
height: 45%; 
background-color: red;
float:left;
}

.panelFlashCardNext{
width:7%; 
height: 45%; 
background-color: blue;
float:left;
}*/

/*.flash{
width: 18%;
height: 90%;
margin: 1% 1% 1% 1%;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
float:left;
}*/

.panelHeader {
    position:relative;
    z-index:4;
    width:100%;
    margin: -60px 0px 0px 0px;
    background:rgba(0,0,0,0);
}

.panelHeader h1 {
    position:relative;
    padding:0px 0px;
    margin: 1px -10px 0px -10px;
    font-size:30px;
    /*line-height:40px;*/
    font-weight:bold;
    text-align:center;
    color:#fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ace000), color-stop(100%,#899b00));
    /* css3 extras */
    text-shadow:0 2px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.6);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.6);
            box-shadow:0 1px 1px rgba(0,0,0,0.6);
    /* See "NOTE 1" */
    zoom:0;
}

.panelHeader h1:before,
.panelHeader h1:after {
    content:"";
    position:absolute;
    /* See "NOTE 2" */
    z-index:-1;
    top:100%;
    left:0;
    border-width:0 10px 10px 0;
    border-style:solid;
    border-color:transparent #647D01;
}

.panelHeader h1:after {
    left:auto;
    right:0;
    border-width:0 0 10px 10px;
}

.containerCard { 
  width: 17.77%;
  height: 230px;
  margin: 0.7% 1% 0.7% 1%;
  float:left;
  border-radius: 3px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

.flashCard {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top:0px;
  margin-left:0px;
  border-radius: 3px;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
}

.flashCard figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top:0px;
  margin-left:0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.front {
  background: #899b00;
  border-radius: 3px;
  border: 2px solid lightgrey;
}

.back {
  background: #ace000;
  border-radius: 3px;
  border: 2px solid lightgrey;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
}

.flashCardTitle{
color: white;
text-align:center;
font-size: 30px;
}

.genInfo{
color: white;
text-align:center;
font-size: 25px;
}

.buttonPutOnMap{
color: white;
text-align:center;
font-size: 30px;
}

.flashAvatar img{
width: 100%;
height: 100%;
}
